
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body py-2">
        <h3 class="text-center pb-2 pt-2">
          <span class="text-primary"><i class="fa fa-lock"></i> ToDo Login </span>
        </h3>
        
        <a class="align-middle mr-auto" href="#" (click)="login()">
          <img src="assets/btn_google_signin_dark_normal_web@2x.png" 
          alt="Sign in with Google" class="w-50 h-25">
        </a>
        <button (click)="login()">Login with Google</button>
      </div>
    </div>
  </div>
</div>
