<div class="row">
    <div class="col-md-6">
      <a routerLink="/" href="" class="btn btn-link ">
        <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
      </a>
    </div>
    <div class="col-md-6"></div>
</div>
  

<div class="card">
  <div class="card-header px-2 py-2"><strong>Add New Task</strong></div>

  <div class="card-body">
      <form novalidate #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">

        <div class="form-group form-control-sm ">
          <input type="text" class="form-control px-2" name="taskName" #taskName="ngModel" placeholder="Task name" 
            [(ngModel)]="task.name" minlength="4" required
            [ngClass]="{'is-invalid':taskName.errors?.required && taskName.touched || taskName.errors?.minlength && taskName.touched}">
          <div *ngIf="taskName.errors?.required && taskName.touched" class="invalid-feedback">Task Name is required</div>
          <div *ngIf="taskName.errors?.minlength && taskName.touched" class="invalid-feedback">Must be at least 4 characters</div>        
        </div>

        <div class="form-group form-control-sm mt-1">
          <input type="text" class="form-control" name="taskCat" #taskCat="ngModel" placeholder="Category"
            [(ngModel)]="task.cat" minlength="2" 
            [ngClass]="{'is-invalid': taskCat.errors?.minlength && taskCat.touched}">
          <div *ngIf="taskCat.errors?.minlength && taskCat.touched" class="invalid-feedback">Must be at least 2 characters</div>        
        </div>

        <div class="form-group form-control-sm mt-2">
            <textarea class="form-control" name="taskDesc" #taskDesc="ngModel" placeholder="Task Description" 
              [(ngModel)]="task.desc" minlength="16" required cols="40" rows="4"
              [ngClass]="{'is-invalid':taskDesc.errors?.required && taskDesc.touched || taskDesc.errors?.minlength && taskDesc.touched}"></textarea>
            <div *ngIf="taskDesc.errors?.required && taskDesc.touched" class="invalid-feedback">Task Description is required</div>
            <div *ngIf="taskDesc.errors?.minlength && taskDesc.touched" class="invalid-feedback">Must be at least 16 characters</div>        
        </div>
        <input type="submit" value="Create" class="btn btn-outline-primary btn-sm">
      </form>
    </div>
    
  </div>
